#body
{
 background-color: rgb(37, 36, 36);
 zoom: 90%;
}
#textoInicial
{
  background: linear-gradient(to right, rgb(172, 172, 35), rgb(3, 19, 87));
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    height: 87px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex; /* Activa Flexbox */
    align-items: center;
    margin-top: 20px; 
    justify-content: space-between;
    clip-path: polygon(1% 0%, 99% 0%, 100% 50%, 99% 100%, 1% 100%, 0% 50%); 
}
#titulo
{
  background: linear-gradient(to right, rgb(147, 4, 4), rgb(75, 2, 2), rgb(147, 4, 4));
  text-align: center;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow:
  0 0 10px rgb(1, 142, 142),/*---------------------------------------------------------------------------------------------*/
  inset 0 0 5px #0ff;
 }

.logomexico {
    width: 80px;  
    margin-left: 20px;
  }
  
  .logocolima {
   
    width: 90px;  
    margin-right: 20px;
  }
  #descri{
    color: rgb(255, 255, 255);
    font-family: 'Verdana', Times, serif;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }
  #cuadradito{
    
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow:
    0 0 15px #0ff,
    inset 0 0 15px #0ff;


  }

  .navbar {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-top: 7px solid rgb(2, 9, 89);
    border-bottom: 7px solid rgb(2, 9, 89);
    clip-path: polygon(0% 0%, 100% 0%, 99% 50%, 100% 100%, 0% 100%, 1% 50%);
    position: fixed;
    width: 99%;
    bottom: 0px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
#textonav{ 
  animation: pulso2 3s infinite alternate ease-in-out;
}

 @keyframes pulso {
  0% {
      filter:  brightness(.5);
     
  }
  50% {
      filter: brightness(1.5); /* Efecto azul */
  }
  100% {
      filter: brightness(2);
  }
}
@keyframes pulso2 {
  0% {
      filter:  brightness(1);
      transform: scale(1);
      color: #000000;
  }
  50% {
      filter:  brightness(1.2); /* Efecto azul */
      transform: scale(1.012); /* Pequeño zoom */
      color: #807d7d;
  }
  100% {
      filter:  brightness(1);
      transform: scale(1);
      color: #000000;
  }
}






/* Pequeño css para un botoncito, pero pequeñito */
.cyber-button {
  position: relative;
  padding: 25px 50px;
  background: #000;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 4px;
  color: #0ff;
  text-transform: uppercase;
  box-shadow:
    0 0 15px #0ff,
    inset 0 0 15px #0ff;
  text-shadow: 0 0 5px #0ff;
  transition: all 0.3s;
  width: 360px;/*---------------------------------------------------------------------------------------------*/
}
.cyber-buttoncito {
  position: relative;
  padding: 15px 30px;
  background: #ffffff;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 4px;
  color: rgb(8, 81, 199);
  text-transform: uppercase;
  box-shadow:
    0 0 15px rgb(5, 162, 235),
    inset 0 0 15px rgb(70, 148, 238);
  text-shadow: 0 0 5px rgb(4, 171, 171);
  transition: all 0.3s;
  border-radius: 6px;
}

.cyber-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(0, 145, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}

.cyber-button:hover::before {
  left: 100%;
}

.cyber-buttoncito::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(0, 119, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}

.cyber-buttoncito:hover::before {
  left: 100%;
}

.cyberpunk-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(0, 110, 234);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 85% 100%, 0 100%);
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(0, 92, 167, 0.1) 10px,
    rgba(0, 94, 255, 0.1) 20px
  );
}

.scanline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 157, 255, 0.2) 50%
  );
  background-size: 100% 4px;
  animation: scan 0.5s linear infinite;
}

@keyframes scan {
  0% {
    background-position: 0 -1000px;
  }
  100% {
    background-position: 0 1000px;
  }
}

.cyber-button:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 150px rgb(0, 110, 234),/*---------------------------------------------------------------------------------------------*/
    inset 0 0 25px rgb(0, 110, 234);
}

.cyber-button:active {
  transform: scale(0.95);
}

.cyber-buttoncito:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 25px rgb(20, 88, 196),
    inset 0 0 25px rgb(20, 88, 196);
}

.cyber-buttoncito:active {
  transform: scale(0.95);
}
/* Estilo de AMI, al parecer tambien se necesita aqui */
  /* Contenedor principal */
  .container {
    width: 90%;
    margin: auto;
    
  }
  
  /* Entrada de texto y botones */
  input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  
  /* Contenedor para la barra de desplazamiento */
  .scroll-container {
    width: 90%;
    overflow-x: auto;
    border: 1px solid #ccc;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si es necesario */
  }
  /* Estilo del canvas (gráfica) */
  #grafica {
    background-color: #fcfcfc; /* Fondo blanco para la gráfica */
    
    display: block; /* Evita espacios extras */
    margin: auto; /
  }
  /* Termina estilo de AMI */
/* nuevo */
/* boton para regresar, aplicado en todos */
.button {
    /* in scss with just one variable i can change opacity with rgba(variable, opacity) but in css it's not possible so i have used three seperate variables */
    /* with hue-rotate color can be changed */
    --main-color: rgb(46, 110, 213);
    --main-bg-color: rgba(82, 174, 220, 0.36);
    --pattern-color: rgba(255, 255, 255, 0.23);
  
    /* change this rotation value */
    filter: hue-rotate(0deg);
  
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: radial-gradient(
        circle,
        var(--main-bg-color) 0%,
        rgba(0, 0, 0, 0) 95%
      ),
      linear-gradient(var(--pattern-color) 1px, transparent 1px),
      linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
    background-size:
      cover,
      15px 15px,
      15px 15px;
    background-position:
      center center,
      center center,
      center center;
    border-image: radial-gradient(
        circle,
        var(--main-color) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      1;
    border-width: 2px 0 2px 0;
    color: var(--main-color);
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    transition: background-size 0.2s ease-in-out;
    position: fixed;
    width: 99%;
    bottom: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    background-size:
      cover,
      10px 10px,
      10px 10px;
  }
  .button:active {
    filter: hue-rotate(485deg);
  }

  .container2 {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: rgb(0, 0, 0);
    margin-top: 35px;
    
  }
  
  .container2 .label {
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.4s;
    pointer-events: none;
  }
  
  .input {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #000000;
    font-size: 15px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
      -1px -1px 10px rgba(0, 204, 255, 0.4);
  }
  
  .input:focus {
    border: 2px solid transparent;
    color: #000000;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
      -1px -1px 6px rgba(0, 204, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
      inset -1px -1px 6px rgba(0, 204, 255, 0.4);
      
  }
  
  .container2 .input:valid ~ .label,
  .container2 .input:focus ~ .label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translate(1px, -27px);
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    
    
  }
  
  .container2 .input:valid,
  .container2 .input:focus {
    transform: scale(1.07) ;
    padding-left: 2px;
    box-shadow: 3px 3px 10px rgba(0, 204, 255, 0.4),
      -1px -1px 20px rgba(0, 204, 255, 0.4), inset 3px 3px 10px rgba(0, 204, 255, 0.4),
      inset -1px -1px 30px rgba(0, 204, 255, 0.8);
      border: 2px solid rgb(0,110,234);
  }
    .container2:hover {
      transform: scale(1.07);
  
    }


  #lineainbt{
    display: flex; /* Activa Flexbox */
    align-items: center;
    margin-top: 20px; 
    
  }
  #lineainbt > :first-child {
    flex: .35; /* Permite que el primer elemento ocupe espacio disponible */
    min-width: 10px; /* Ajusta según sea necesario */
}

#textcuadri{
  color: rgb(3, 212, 235);
  padding-left:15px ;
  padding-right:15px ;
}
/* Otro pequeñisimo css para un check box */
.checkbox-wrapper {
  position: relative;
  cursor: pointer;
  width: 55px;
  height: 55px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.checkbox-wrapper:hover {
  transform: rotateX(10deg) rotateY(10deg);
}

.checkbox-wrapper input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  background: #2c2c2c;
  border-radius: 20px;
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.3),
    inset 0 -8px 16px rgba(0, 0, 0, 0.2),
    inset 0 8px 16px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  transform-style: preserve-3d;
  border: 2px solid rgb(0, 110, 234);
}

.checkbox::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  left: -25%;
  background: linear-gradient(45deg, rgb(46, 110, 213), #60efff, rgb(46, 110, 213), #60efff);
  background-size: 300% 300%;
  border-radius: 20px;
  
  
  opacity: 0;
  transform-origin: center;
  transform: scale(0) rotate(180deg);
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.checkbox::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5) rotate(-45deg);
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  z-index: 1;
}

.checkbox-wrapper:hover .checkbox {
  transform: translateY(-0px) translateZ(20px);
  box-shadow:
    0 15px 25px rgba(0, 0, 0, 0.4),
    inset 0 -8px 16px rgba(0, 0, 0, 0.2),
    inset 0 8px 16px rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 10px rgba(0, 204, 255, 0.4),
    -1px -1px 20px rgba(0, 204, 255, 0.4), inset 3px 3px 10px rgba(0, 204, 255, 0.4),
    inset -1px -1px 20px rgba(0, 204, 255, 0.4);


    
}

.checkbox-wrapper input:checked ~ .checkbox::before {
  opacity: 1;
  transform: scale(1) rotate(0deg);
  animation: gradientMove 3s linear infinite;
}

.checkbox-wrapper input:checked ~ .checkbox::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  transition-delay: 0.2s;
}

.checkbox-wrapper input:checked ~ .checkbox {
  transform: translateY(-5px) translateZ(20px);
  animation: glowPulse 2s infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glowPulse {
  0%,
  100% {
    box-shadow:
      0 15px 25px rgba(0, 0, 0, 0.4),
      inset 0 -8px 16px rgba(0, 0, 0, 0.2),
      inset 0 8px 16px rgba(255, 255, 255, 0.1),
      0 0 20px rgba(96, 239, 255, 0.5);
  }
  50% {
    box-shadow:
      0 15px 25px rgba(0, 0, 0, 0.4),
      inset 0 -8px 16px rgba(0, 0, 0, 0.2),
      inset 0 8px 16px rgba(255, 255, 255, 0.1),
      0 0 40px rgba(0, 204, 255, 0.7);
  }
}

.checkbox-wrapper input:active ~ .checkbox::before {
  transition: 0s;
  opacity: 0.5;
}

